@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
:root{
    --branco-fosco: #e9e9e9;
    --preto: #141414;
    --preto-transparente: #0f0f0fb6;
    --preto-cinzento: #202020;
    --cinza-claro: #6d6d6d;
    --cinza-escuro: #3b3b3b;
    

    --border-receitas: #8a8a8a;
    --focus-background: #2e2e2e;
    --focus-outline: #3c80ff;

    --color-vantangens: #FF725E;

    --menu-comidas-background: #2c2c2c;
    --card-line-color: #1f1f1f;
    --card-background: #a5a5a5;
    --card-text-color: #e0e0e0; 
    --hover-food: #c3312c;
    --active: #831a1a;

    --menu-doces-background: #2c2c2c;

    --background-quem-somos: #dddddd;
}

/* HEADER */
.background{
    background: url("../img/fundo/pexels-fidel-hajj-2814828.jpg") no-repeat center / cover;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.background__logo {
    color: var(--branco-fosco);
    font-size: 40px;
    font-weight: bold;
    margin: 0px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.background__logo:hover{
    opacity: 50%;
}

.background__cabecalho{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
}

.background__listas-item{ 
    border-radius: 20px;
    color: var(--branco-fosco);
    display: inline-block;
    font-size: 21px;
    margin-right: 5px;
    padding: 5px 15px;
    transition: 0.3s;
}

.background__listas ul{
    display: flex;
}

.background__listas a{
    text-decoration: none;
}

.background__listas-item.ativo{
    background-color: var(--preto);
}

.background__listas-item:hover{
    color: var(--cinza-escuro);
    background-color: var(--branco-fosco);
}

.background__listas-item:active, .ativo:active{
    background-color: var(--cinza-claro);
}

.background__listas-item{
    text-transform: lowercase;
}

.menu-responsivo{
    display: none;
}

/* FUNDO */
.conteudo__imagem{
    display: block;
    width: 450px;
    margin: 0px auto;
}

/* FUNDO PRINCIPAL METADE*/

.background-esquerdo{
    background-color: var(--preto-cinzento);
    width: 60%;
}

.conteudo{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.conteudo-descricao{
    color: var(--branco-fosco);
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 15px;
}

hr {
    width: 400px;
    margin: 10px auto;
}

.conteudo-descricao__titulo{
    font-weight:  500;
    font-size: 40px;
    text-transform: uppercase;
}

.conteudo-descricao__subtitulo{
    font-weight: 100;
    font-size: 30px;
    text-transform: uppercase;
}

.pesquisar-receita{
    background-color: var(--cinza-escuro);
    border: 1px solid var(--border-receitas);
    color: var(--branco-fosco);
    border-radius: 20px;
    font-size: 18px;
    padding: 8px 20px;
    width: 300px;
    transition: 0.3s;
}

.pesquisar-receita:focus{
    background-color: var(--focus-background);
    width: 500px;
    outline: 2px solid var(--focus-outline);
}

.pesquisar-receita:hover{
    background-color: var(--focus-background);
}

/* BLOCO VANTAGENS*/

.container-vantagens{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.container-vantagens h2{
    color: var(--color-vantangens);
    font-weight: bold;
    font-size: 40px; 
    padding: 15px 0px;
    text-align: center;
}

.container-vantagens__bloco{
    display: flex;
    margin: 20px 0px;
}

.container-vantagens__itens{
    align-items: center;
    width: 100%;
    margin: 0 1em;
}


.container-vantagens__itens img{
    display: block;
    margin: 0px auto;
    width: 200px;
}

.container-vantagens__itens h3{
    color: var(--color-vantangens);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.container-vantagens__itens p{
    font-size: 20px;
    padding: 20px 50px;
    text-align: center;
}

/* COMIDAS */
.container-comidas{
    background-color: var(--menu-comidas-background);
}

.container-comidas h2{
    background-color: var(--preto-cinzento);
    color: var(--branco-fosco);
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 15px 0px;
    text-align: center;
}

.container-comidas__bloco{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    padding: 15px;
}   

.container-comida__itens{
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 300px;
    transition: 0.3s;
}

.container-comida__itens:hover{
    transform: scale(1.1);
}

.container-comida__itens img{
    object-fit: cover;
    height: 250px;
}

.container-comida__itens:nth-child(1) img{
    object-position: bottom;
}

.container-comida__itens:nth-child(3) img{
    object-position: bottom;
}

.container-comida__itens:nth-child(5) img{
    object-position: bottom;
}

.container-comida__itens{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.container-comida__itens h3{
    background-color: var(--card-line-color);
    color: var(--card-text-color);
    font-size: 20px;
    padding: 13px 0px;
    text-align: center;
    text-transform: uppercase;
}

.container-comida__itens p{
    font-size: 19px;
    letter-spacing: 0.5px;
    padding: 20px 15px;
    text-align: center;
}

.container-comida__itens a{
    background-color: var(--card-line-color);
    color: var(--card-text-color);
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.container-comida__itens a:hover{
    background-color: var(--hover-food);
}

.container-comida__itens a:active{
    background-color: var(--active);
}

/* NAVEGAÇÃO PAGINATION */

.pagination{
    background-color: var(--card-line-color);
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 50%;
}

.pagination label{
    color: var(--branco-fosco);
    display: inline-block;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 5px;
    padding: 10px 15px;
    transition: 0.5s;
    cursor: pointer;
}

.pagination label:hover{
    background-color: var(--hover-food);
}

.pagination input{
    display: none;
}

/* MENU DE DOCES */

.container-doces{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: var(--menu-doces-background);
}

.container-doces h2{
    background-color: var(--preto-cinzento);
    color: var(--branco-fosco);
    font-size: 30px;
    padding: 20px 0px;
    text-align: center;
}

.container-doces__bloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.container-doces__itens {
    position: relative;
    margin: 20px 0px;
    background: #111111;
    transition: 0.5s ease-in-out;
}

.container-doces__image{
    display: block;
    height: 400px;
    width: 300px;
    object-fit: cover;
}

.overflow-receita{
    opacity: 0;
    position: absolute;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: 0.5s;
}

.overflow-receita:hover{
    opacity: 1;
}

.overflow-receita__image{
    object-fit: cover;
    height: 200px;
}

.overflow-receita ul{
    color: var(--card-text-color);
    font-size: 19px;
    margin-left: 20px;
    list-style: disc;
}

.overflow-receita__listas li{
    margin: 10px;
}

.overflow-receita a{
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--hover-food);
    margin: 0px auto;
    margin-bottom: 10px;
    width: 250px;
    padding: 10px;
    color: #e3e3e3;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.overflow-receita a:hover{
    background-color: var(--active);
}

.container-doces__itens h3{
    font-size: 25px;
    background-color: var(--preto-cinzento);
    color: var(--branco-fosco);
    padding: 10px 0px;
    text-align: center;
}

.container-doces__itens p{
    color: var(--branco-fosco);
    background-color: var(--card-line-color);
    font-size: 25px;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.container-doces__itens p:hover{
    background-color: var(--hover-food);
}
    
/* QUEM SOMOS */

.container-sobre{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: var(--background-quem-somos);
}

.container-sobre h2{
    background-color: var(--preto-cinzento);
    color: var(--branco-fosco);
    padding: 15px 0px;
    font-size: 33px;
    text-align: center;
}

.container-sobre-bloco{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.container-sobre-bloco__itens{
    padding: 0px 20px;
}

.container-sobre-bloco__itens img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.container-sobre-bloco__itens:last-child img{
    object-position: top;
}

.container-sobre-bloco__itens h3{
    color: var(--preto-cinzento);
    font-size: 22px;
    padding-top: 10px;
    text-align: center;
}

.container-sobre-bloco__itens p{
    font: 20px ;
    color: var(--cinza-claro);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}


/* FOOTER */    
.container-rodape{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: var(--preto);
    color: var(--card-text-color);
}

.container-rodape-bloco{
    display: flex;
    padding: 15px 0px;
    justify-content: space-evenly;
}

.container-rodape-bloco img{
    width: 22px;
}

.redes-sociais{
    display: flex;
    justify-content: start;
    align-items: center;
}

.redes-sociais a{
    margin: 10px 3px;
    padding: 5px;
}

.container-rodape-bloco__item{
    margin: 0px auto;
}

.container-rodape-bloco__item h2{
    font-size: 20px;
}

.container-rodape-bloco__item hr{
    width: 127px;
    margin: 10px 0px;
    border-color: #ff3838;
}

.container-contato{
    display: flex;
    flex-direction: column;
}

.container-contato__address{
    display: flex;
    padding: 10px 0px;
    align-items: center;
}
.container-contato__address-link-contact{
    color: white;
    text-decoration: none;
}

.container-contato__address-link-contact:hover{
    text-decoration: underline;
}

.container-rodape-bloco__item .container-contato__address img {
    margin-right: 15px;
    object-fit: contain;
}

.container-rodape-bloco__content button{
    cursor: pointer;
    border: none;
    color: var(--branco-fosco);
    background-color: var(--hover-food);
    padding: 10px 0px;
    margin: 10px auto;
    width: 200px;
    transition: 0.3s;
}

.container-rodape-bloco__content button:hover{
    background-color: var(--active);
}

/* RESPONSIVO */
@media screen and (max-width: 1000px){
    /* INÍCIO TELA PRINCIPAL */
    .conteudo__imagem{
        width: 85%;
        transition: 0.5s;
    }

    .fundo-principal{
        transition: 0.5s;
    }

    .background__cabecalho{
        justify-content: space-between;
    }

    .background__listas{
        font-size: 30px;
    }

    .background__listas-item{
        display: none;
    }
    
    .menu-responsivo{
        display: block;
        width: 1.2em;
    }

    .container-vantagens{
        margin: 15px 0px;
    }

    .background__listas a{
        font-size: 19px;
    }

    .conteudo-descricao__titulo{
        font-size: 3rem;
    }

    hr{
        width: 200px;
    }

    .conteudo-descricao__subtitulo{
        font-size: 22px;
    }


    /* BLOCO DE VANTAGENS */
    .container-vantagens__itens{
        margin: 0px;
    }

    .container-vantagens h2{
        padding: 0px 0px 10px;
    }

    .container-vantagens__itens p{
        font-size: 20px;
        padding: 10px;
    }

    /* FOOTER */
    .container-rodape-bloco{
        display: block;
        padding: 15px;
    }
}
@media screen and (max-width: 660px){
    /* INICIO */
    .conteudo{
        height: 100%;
    }

    .conteudo__imagem{
        width: 300px;
    }

    .background-esquerdo{
        width: 100%;
        background-color: var(--preto-transparente);
    }

    .conteudo{
        padding: 0px;
        background-color: var(--preto-transparente);
    }
    
    .background__cabecalho{
        background-color: var(--preto);
        justify-content: space-between;
        padding: 0.5em 2em;
    }

    .menu{
        display: flex;
    }
    
    .background__listas a{
        font-size: 17px;
        border-radius: 0px;
        margin-right: 1px;
    }

    .background__listas-item{
        padding: 10px;
    }

    .conteudo-descricao{
        padding: 20px;
    }

    .conteudo-descricao__titulo{
        font-size: 40px;
        text-shadow: 3px 3px 5px var(--preto);
    }

    hr {
        width: 30vh;
        margin: 10px auto;
    }

    .conteudo-descricao__subtitulo{
        font-weight: bold;
        text-shadow: 3px 3px 5px var(--preto);
        font-size: 23px;
    }

    .pesquisar-receita {
        margin: 20px 0px;
    }

    .pesquisar-receita:focus{
        width: 300px;
    }
    /* CONTAINER COMIDAS */
    .container-comidas{
        padding: 0px;
    }

    /* CONTAINER DOCES */
    .container-doces__bloco{
        padding: 0px;
    }

    /* BLOCO DE VANTAGENS */
    .pagination{
        display: none;
    }

    .container-vantagens__itens{
        align-items: center;
        margin: 40px auto;
    }

    .container-vantagens__itens p{
        font-size: 21px;
        padding: 5px 20px;
        text-align: center;
    }

    .container-vantagens__itens h3{
        margin-bottom: 5px;
    }

    .container-vantagens__bloco{
        display: block;
    }


    /*SOBRE NÓS*/
    .container-pessoas{
        padding: 0;
    }

    .container-sobre-bloco__itens{
        padding: 20px;
    }

    /* FOOTER */
    .container-rodape__bloco{
        display: block;
        padding: 20px;
    }
}

@media screen and (max-width: 395px){
    .conteudo-descricao{
        padding: 5px;
    }

    .conteudo{
        height: 100%;
    }

    .pesquisar-receita{
        width: 70%;
    }
}









