@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');

/* HEADER */

.logo a{
    font-size: 40px;
    color: #f3f3f3;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 10px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1%;
}

.menu-listas{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.menu-item{
    font-size: 22px;
    color: #f3f3f3;
    margin-right: 5px;
    padding: 5px 15px;
    display: inline-block;
    transition: 0.5s;
    border-radius: 20px;
}

.menu-item.ativo{
    background-color: #1a1a1a;
}

.menu-item:hover{
    color: #3b3b3b;
    background-color: #e4e4e4;
}

.menu-item:active, .ativo:active{
    background-color: #6d6d6d;
    transition: 0s;
}

.menu-item{
    text-transform: lowercase;
}

/* FUNDO */

.fundo-principal{
    background-image: url("../img/fundo/pexels-fidel-hajj-2814828.jpg");
    background-size: cover;
    background-position: center;
}

.Imagem-comida-fundo{
    display: block;
    width: 50%;
    margin: 0px auto;
}

/* DIV COR SOLIDA ESQUERDA*/

.fundo-metade{
    width: 60%;
    height: 100%;
    background-color: #202020;
}

.principal-centralizado{
    padding-bottom: 45px;
}

.titulo-subtitulo{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #e4e4e4;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

hr {
    width: 50%;
    margin: 10px auto;

}

.titulo-subtitulo h2{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 28px;
    text-transform: uppercase;
}

#pesquisar-receita{
    color: white;
    background-color: #3b3b3b;
    border: 1px solid #8a8a8a;
    font-size: 18px;
    width: 300px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.3s;
}

#pesquisar-receita:focus{
    background-color: #2e2e2e;
    width: 500px;
    outline: #3c80ff solid 2px;
}

#pesquisar-receita:hover{
    background-color: #2e2e2e;
}

/* BLOCO DE ECONOMIZE TEMPO E DINHEIRO*/

.economize-tempo-e-dinheiro{
    background-color: #ffffff;
}
.economize-tempo-e-dinheiro h1{
    color: #FF725E;
    text-align: center;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px 0px;
    font-size: 40px; 
}

.container-vantagens{
    display: flex;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 40px;
}

.bloco-vantagens img{
    width: 200px;
    margin: 0px auto;
    display: block;
}

.bloco-vantagens h3{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #FF725E;
    font-size: 30px;
    text-align: center;
}

.bloco-vantagens p{
    font: 20px 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px 50px;
}

/* Food Section */

.menu-de-comidas{
    background-color: #2c2c2c;
}

.menu-de-comidas h1{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #202020;
    color: #ececec;
    padding: 20px 0px;
    font-size: 40px;
    text-align: center;
}

.container-comidas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 15px;
}   

.bloco-de-comidas{
    width: 300px;
    margin: 30px auto;
    transition: 0.3s;
}

.bloco-de-comidas img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
    display: block;
}

.bloco-de-comidas:nth-child(1) img{
    object-position: bottom;
}

.bloco-de-comidas:nth-child(3) img{
    object-position: bottom;
}

.bloco-de-comidas:nth-child(5) img{
    object-position: bottom;
}


.bloco-de-comidas h2{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    background-color: #0e0e0e;
    color: #ebebeb;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.bloco-de-comidas p{
    background-color: #8a8a8a;
    padding: 20px 15px;
    font-size: 19px;
    text-align: center;
    letter-spacing: 1px;
}

.bloco-de-comidas a{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: #131313;
    color: #e7e7e7;
    font-size: 20px;
    padding: 15px 0px;
    font-weight: bold;
    text-align: center;
    display: block;
    text-decoration: none;
}

.bloco-de-comidas:hover{
    box-shadow: 10px 5px 3px rgb(32, 32, 32);
}

.pagination{
    background-color: transparent;
    text-align: center;
    padding-bottom: 15px;
}

.pagination a{
    display: inline-block;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 5px;
    border-radius: 10px;
    transition: 0.5s;
}

.pagination a:hover{
    color: #ececec;
    background-color: #ff3d3d;
}

