@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
/* HEADER */

.main-background{
    background: url("../img/fundo/pexels-fidel-hajj-2814828.jpg") no-repeat center / cover;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.logo {
    color: #f3f3f3;
    font-size: 40px;
    font-weight: bold;
    margin: 0px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.logo:hover{
    opacity: 50%;
}

.cabecalho{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 5px;
}

.menu-listas-item{ 
    border-radius: 20px;
    color: #f3f3f3;
    display: inline-block;
    font-size: 21px;
    margin-right: 5px;
    padding: 5px 15px;
    transition: 0.3s;
}

.menu-listas{
    display: flex;
}

.menu-listas a{
    text-decoration: none;
}

.menu-listas-item.ativo{
    background-color: #0f0f0f;
}

.menu-listas-item:hover{
    color: #3b3b3b;
    background-color: #e4e4e4;
}

.menu-listas-item:active, .ativo:active{
    background-color: #6d6d6d;
}

.menu-listas-item{
    text-transform: lowercase;
}

/* FUNDO */
.Imagem-comida-fundo{
    display: block;
    width: 450px;
    margin: 0px auto;
}

/* FUNDO PRINCIPAL METADE*/

.fundo-metade{
    background-color: #202020;
    width: 60%;
}

.principal-centralizado{
    padding-bottom: 55px;
}

.titulo-subtitulo{
    color: #e4e4e4;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

hr {
    width: 400px;
    margin: 10px auto;
}

.titulo-subtitulo h2{
    font-weight: lighter;
    font-size: 28px;
    text-transform: uppercase;
}

.pesquisar-receita{
    background-color: #3b3b3b;
    border: 1px solid #8a8a8a;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    width: 300px;
    transition: 0.3s;
}

.pesquisar-receita:focus{
    background-color: #2e2e2e;
    width: 500px;
    outline: #3c80ff solid 2px;
}

.pesquisar-receita:hover{
    background-color: #2e2e2e;
}

/* BLOCO VANTAGENS*/

.bloco-de-vantagens{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

.bloco-de-vantagens h2{
    color: #FF725E;
    font-weight: bold;
    font-size: 40px; 
    padding: 15px 0px;
    text-align: center;
}

.container-vantagens{
    display: flex;
    margin: 20px 0px;
}

.itens-vantagens{
    align-items: center;
    width: 100%;
    margin: 0 1em;
}


.itens-vantagens img{
    display: block;
    margin: 0px auto;
    width: 200px;
}

.itens-vantagens h3{
    color: #FF725E;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.itens-vantagens p{
    font-size: 20px;
    padding: 20px 50px;
    text-align: center;
}

/* COMIDAS */
.menu-de-comidas{
    background-color: #2c2c2c;
}

.menu-de-comidas h2{
    background-color: #202020;
    color: #ececec;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
}

.container-comidas{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    padding: 15px;
}   

.item-comida{
    background-color: #a7a7a7;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    width: 300px;
    transition: 0.3s;
}

.item-comida img{
    object-fit: cover;
    height: 250px;
}

.item-comida:nth-child(1) img{
    object-position: bottom;
}

.item-comida:nth-child(3) img{
    object-position: bottom;
}

.item-comida:nth-child(5) img{
    object-position: bottom;
}

.item-comida{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    transition: 0.3s;
}

.item-comida:hover{
    margin: 0;
    padding: 0;
    flex-grow: 0.3;
}

.item-comida h3{
    background-color: #222222;
    color: #eeeeee;
    font-size: 20px;
    padding: 13px 0px;
    text-align: center;
    text-transform: uppercase;
}

.item-comida p{
    font-size: 19px;
    letter-spacing: 0.5px;
    padding: 20px 15px;
    text-align: center;
}

.item-comida a{
    background-color: #222222;
    color: #e7e7e7;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.item-comida a:hover{
    background-color: #c3312c;
}

.item-comida a:active{
    background-color: #861d1a;
}

/* NAVEGAÇÃO PAGINATION */

.pagination{
    background-color: #1f1f1f;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 50%;
}

.pagination label{
    color: #f1f1f1;
    display: inline-block;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px 5px;
    padding: 10px 15px;
    transition: 0.5s;
    cursor: pointer;
}

.pagination label:hover{
    background-color: #c3312c;
}

.pagination input{
    display: none;
}

/* MENU DE DOCES */

.menu-de-doces{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: #3a3a3a;
}

.menu-de-doces h2{
    background-color: #202020;
    color: #ececec;
    font-size: 30px;
    padding: 20px 0px;
    text-align: center;
}

.container-doces{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
}

.item-doce {
    padding: 0px 10px;
    border-radius: 20px;
}

.item-doce img{
    border-radius: 5px;
    object-fit: cover;
    height: 400px;
    width: 300px;
}

.item-doce h3{
    font-size: 25px;
    background-color: #ebebeb;
    color: #161616;
    padding: 5px 0px;
    position: relative;
    top: 45px;
    text-align: center;
}

.item-doce p{
    color: white;
    background-color: #181818;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 200px;
    padding: 10px 15px;
    bottom: 70px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.item-doce p:hover{
    background-color: #c3312c;
}
    
/* QUEM SOMOS */

.bloco-quem-somos{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: #dbdbdb;
}

.bloco-quem-somos h2{
    background-color: #202020;
    color: #ececec;
    padding: 15px 0px;
    font-size: 33px;
    text-align: center;
}

.container-pessoas{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.item-pessoa{
    padding: 0px 20px;
}

.item-pessoa img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
}

.item-pessoa:last-child img{
    object-position: top;
}

.item-pessoa h3{
    color: #202020;
    font-size: 22px;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px #e0e0e057;
}

.item-pessoa p{
    font: 20px ;
    color: #3a3a3a;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
/* Footer */    

.conteudo-rodape{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    background-color: #1d1a1a;
    color: #eeeeee;
}

.section-about-us{
    display: flex;
    padding: 30px 0px;
    justify-content: space-evenly;
}

.section-about-us img{
    width: 22px;
}

.redes-sociais{
    display: flex;
    justify-content: start;
    align-items: center;
}

.redes-sociais a{
    margin: 10px 3px;
    padding: 5px;
}

.box{
    margin: 0px auto;
}

.box h2{
    font-size: 20px;
}

.box hr{
    width: 127px;
    margin: 10px 0px;
    border-color: #ff3838;
}

.div-contato{
    display: flex;
    flex-direction: column;
}


.icons{
    display: inline-flex;
    padding: 10px 0px;
}

.box .icons img {
    margin-right: 15px;
    object-fit: contain;
}

div .content{
    padding: 5px 0px;
}

.content button{
    cursor: pointer;
    border: none;
    color: white;
    background-color: #ff3838;
    padding: 10px 0px;
    margin: 10px auto;
    width: 200px;
}

/* RESPONSIVO */
@media screen and (max-width: 1000px){
    
    /* INÍCIO TELA PRINCIPAL */
    .fundo-principal{
        transition: 0.5s;
    }

    .cabecalho{
        justify-content: center;
    }

    .logo{
        display: none;
    }

    .menu-listas{
        font-size: 30px;
    }

    .bloco-de-vantagens{
        margin: 15px 0px;
    }

    .menu-listas a{
        font-size: 19px;
    }

    .titulo-subtitulo h1{
        font-size: 45px;
    }

    hr{
        width: 200px;
    }

    .titulo-subtitulo h2{
        font-size: 22px;
    }

    .Imagem-comida-fundo{
       width: 350px;
       transition: 0.5s;
    }


    /* BLOCO DE VANTAGENS */
    .itens-vantagens{
        margin: 0px;
    }

    .bloco-de-vantagens h2{
        padding: 0px 0px 10px;
    }

    .itens-vantagens p{
        font-size: 20px;
        padding: 10px;
    }

    /* FOOTER */
    .section-about-us{
        padding: 30px;
    }
}
@media screen and (max-width: 680px){
    /* INICIO */
    .Imagem-comida-fundo{
        width: 300px;
    }

    .fundo-metade{
        width: 100%;
        background-color: #0f0f0f1e;
    }

    .principal-centralizado{
        padding: 0px;
        background-color: #292929a6;
    }
    
    .cabecalho{
        background-color: #131313;
        justify-content: center;
        transition: 0s;
        padding: 0;
    }

    .logo{
        display: none;
    }

    .menu{
        display: flex;
    }
    
    .menu-listas a{
        font-size: 17px;
        border-radius: 0px;
        margin-right: 1px;
    }

    .menu-listas-item{
        padding: 10px;
    }

    .titulo-subtitulo{
        padding: 20px;
    }

    .titulo-subtitulo h1{
        font-size: 40px;
        text-shadow: 3px 3px 5px black;
    }

    hr {
        width: 30vh;
        margin: 10px auto;
    }

    .titulo-subtitulo h2{
        font-weight: bold;
        text-shadow: 3px 3px 5px black;
        font-size: 23px;
    }

    .pesquisar-receita {
        margin: 20px 0px;
    }

    .pesquisar-receita:focus{
        width: 300px;
    }
    /* CONTAINER COMIDAS */
    .container-comidas{
        padding: 0px;
    }

    /* CONTAINER DOCES */
    .container-doces{
        padding: 0px;
    }

    /* BLOCO DE VANTAGENS */
    .pagination{
        display: none;
    }

    .itens-vantagens{
        align-items: center;
        margin: 40px auto;
    }

    .itens-vantagens p{
        font-size: 21px;
        padding: 5px 20px;
        text-align: center;
    }

    .itens-vantagens h3{
        margin-bottom: 5px;
    }

    .container-vantagens{
        display: block;
    }


    /*SOBRE NÓS*/
    .container-pessoas{
        padding: 0;
    }

    .item-pessoa{
        padding: 20px;
    }

    /* FOOTER */
    .section-about-us{
        display: block;
        padding: 20px;
    }
} 









